body {
  color: #ffff;
  margin: 0;
}

  
  
  
  /**********************************/
  /* ************carrousel************ */
  /**********************************/
  
  div.one {
    border-top: rgb(196 231 212 / 20%) 10px solid;
    border-bottom: rgb(196 231 212 / 20%) 10px solid;
  }
  div.two {
    border-top: rgb(196 231 212 / 40%) 10px solid;
    border-bottom: rgb(196 231 212 / 40%) 10px solid;
  }
  div.three {
    border-top: rgb(196 231 212 / 60%) 10px solid;
    border-bottom: rgb(196 231 212 / 60%) 10px solid;
  }
  div.four {
    border-top: rgb(196 231 212 / 70%) 10px solid;
    border-bottom: rgb(196 231 212 / 70%) 10px solid;  
  }
  div.five {
    border-top: rgb(196 231 212 / 85%) 10px solid;
    border-bottom: rgb(196 231 212 / 85%) 10px solid;  
  }
  .container {
    height: 500px;
    display: flex;
    background-color: #C4E7D4;
  }
  
  div.cont-prof{
    display: grid;
      justify-content: center;
      background-color: #C4E7D4;
      width: -webkit-fill-available;
      overflow: scroll;
  }
  
  .prof {
    height: 280px;
    width: 200px;
    background-color: #030027;
    border-radius: 10px;
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
    box-shadow: 3px 2px 50px rgb(202 245 255);
    margin-bottom: -5vh;
  }
  
  /* .prof:not(:first-child) {
    margin-left: -50px;
  } */
  
  .prof:hover {
    transform: translateX(-80px) scale(110%);
    /* transform: scale(111.5%); */
    transition: 0.4s ease-out;
  }
  
  .prof:hover~.prof {
    position: relative;
    /* left: 50px; */
    transition: 0.4s ease-out;
  }
  
  .title {
    color: #C4E7D4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    position: absolute;
    left: 20px;
    top: 15px;
  }
  