html {
    scroll-behavior: smooth;
    overflow-x: hidden;

    /* ---------------------------------------------- Menu Mobile --------- */

    .header-mobile {
        width: 100vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1.5rem 1rem 1rem;

        // Logo du TIM
        img {
            width: 3rem;
            height: auto;
        }

        // Checkbox pour le menu
        #menu-mobile {
            display: none;
        }

        // Conteneur pour menu burger
        .burger {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            row-gap: 0.2rem;
            z-index: 10;

            cursor: pointer;
            width: 1.2rem;
            height: 1.2rem;
            background-color: #C4E7D4;
            border: 1px solid #C4E7D4;
            border-radius: 1.5rem;
            padding: 0.5rem;

            transition: background-color 0.3s, color 0.3s;

            // Ligne du menu burger
            .ligne {
                background-color: #030027;
                border: 1px solid #030027;
                border-radius: 30%;
                width: 100%;
                height: 8%;
                
            }
        }

        .burger:hover {
            background-color: #2274A5;
            border: 1px solid #2274A5;
        }

        // Quand le checkbox est cliqué, le contenant du menu apparaît
        .menu-mobile:checked ~ .menu {
            transform: translateX(0);
        }

        // Contenant qui apparaît
        .menu {
            position: absolute;
            transform: translateX(100vw);
            top: 0vw;
            left: 0vw;
            z-index: 5;
            width: 100vw;
            height: 100vh;

            transition: transform 0.3s;

            // Menu
            .nav {
                height: 100%;
                padding: 0rem 2rem;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                flex-direction: column;
                background-color: #030027;

                // Liste pour les différentes sections
                ul {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    list-style: none;
                    padding-left: 0;
                    margin: 6rem 0rem 0rem 0rem;
                    
                    li {
                        width: 100%;
                        font-family: 'Martian Mono', monospace;
                        //font-family: 'Work Sans', sans-serif;
                        font-weight: bold;
                        font-size: large;
                        padding: 2rem 0rem;
                        text-align: center;
                        cursor: pointer;

                        transition: background-color 0.3s, color 0.3s;
                    }

                    li:hover {
                        background-color: #2274A5;
                        color: #030027;
                    }
                }

                // Boîte de recherche Wordpress
                .searchBox-mobile {
                    width: 50%;

                    div {
                        
                        form {

                            div {

                                input {
                                    font-family: 'Work Sans', sans-serif;
                                    background-color: #C4E7D4;
                                    color: #030027;
                                    border: 1px solid #C4E7D4;
                                    border-radius: 2rem;
                                }

                                button {
                                    background-color: #C4E7D4;
                                    border: 1px solid #C4E7D4;
                                    border-radius: 3rem;
                                    padding: 0.5rem;

                                    svg {
                                        color: #030027;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/*
html {
    scroll-behavior: smooth;

    body {
        background-color: #030027;
        margin: 0;
        overflow-x: hidden;

        header {
            display: flex;
            justify-content: space-between;

            img {
                width: 80px;
                padding: 10px;
            }

            .menu:hover .nav-menu {
                margin-left: 240px;
            }

            div.menu {
                display: flex;
                justify-content: space-between;
                //margin: 2%;

                nav.nav-menu {
                    display: flex;

                    ul {
                        display: flex;

                        li {
                            list-style-type: none;
                            color: #C4E7D4;
                            font-family: Verdana, Geneva, Tahoma, sans-serif;
                            font-size: 15px;
                            overflow: hidden;
                            position: relative;
                            display: inline-block;
                            padding: 10px;
                            width: auto;

                            span {
                                display: inline-block;
                                transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
                            }
                        }

                        li::before, li::after {
                            content: '';
                            position: absolute;
                            width: 100%;
                            left: 0;
                        }

                        li::before {
                            background-color: #54b3d6;
                            height: 2px;
                            bottom: 0;
                            transform-origin: 100% 50%;
                            transform: scaleX(0);
                            transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
                        }

                        li::after {
                            content: attr(data-replace);
                            height: 100%;
                            top: 0;
                            transform-origin: 100% 50%;
                            transform: translate3d(200%, 0, 0);
                            transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
                            color: #54b3d6;
                        }

                        li:hover {
                            text-decoration: underline;
                            color: white;
                        }

                        li:hover::before {
                            transform-origin: 0% 50%;
                            transform: scaleX(1);
                        }

                        li:hover::after {
                            transform: translate3d(0, 0, 0);
                        }
                    }
                }

                .searchBox {
                    position: relative;
                    background: #2f3640;
                    height: 40px;
                    border-radius: 40px;
                    padding: 10px;
                    flex-shrink: 0;
                }

                .searchBox:hover > .searchInput {
                    width: 240px;
                    padding: 0 6px;
                }

                .searchBox:hover > .searchButton {
                    background: white;
                    color: #2f3640;
                }

                .searchButton {
                    color: white;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background: #2f3640;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: 0.4s;
                    border: rgb(255, 254, 254) 4px solid;
                }
                
                .searchInput {
                    border: none;
                    background: none;
                    outline: none;
                    float: left;
                    padding: 0;
                    color: white;
                    font-size: 16px;
                    transition: 0.4s;
                    line-height: 40px;
                    width: 0px;
                }
            }
        }
    }
}
*/