.section-profs {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #030027;
  padding: 20px 0;
  position: relative; 
  width: 100%; // Full width of the container
  height: 600px; // Height of the carousel

  button {
    background-color: transparent;
    .material-icons {
      font-size: 80px;
      color: #C4E7D4;
      background-color: transparent;
    }
    border: none;
    cursor: pointer;
    z-index: 10;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 50px;
    &:first-of-type {
      left: 0;
    }
    &:last-of-type {
      right: 0;
    }
  }
  
  .carroussel {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0 50px;

    .images {
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: space-between; // Ensure articles are spaced evenly
      
      .article {
        width: calc(25% - 40px); // Original width for non-expanded articles
        margin-right: 10px;
        padding: 10px;
        background-color:none; // Assuming a white background for article content
        box-shadow: 0 2px 5px rgba(0,0,0,0.2); // Optional shadow for depth
        transition: all 0.3s ease; // Smooth transition for expanding and shrinking
        cursor: pointer;

        &.expanded {
          position: absolute; // Position over the carousel
          top: 0;
          left: 0;
          width: 50%; // Expand to full width
          height: 10%; // Expand to full height
          z-index: 100; // Ensure it's above other content
          margin: 0; // Reset margins when expanded
          padding: 50px; // Add padding for internal spacing
          background-color: none; // Slightly transparent white background
          overflow-y: auto; // Enable scrolling for overflow content
          justify-content: start; // Align content to the top
          

          img{

            display: none;
          }

          .article-content{
            color: white;
            width: 80%;
            position: absolute;
            top: - 1%;
            
          }
        }

        img {
          max-width: 100%;
          height: auto;
          opacity: 0.8;
          transition: transform 0.3s ease, opacity 0.3s ease; /* Add transform to the transition */

          &:hover, &:focus {
            opacity: 1;
            transform: scale(1.05); /* Slightly scale up the image on hover */
          }
        }
      }
    }
  }
}

.enseignants {
  h2 {
    margin-left: 40px;
    color: #C4E7D4;
  }
}

// Additional styles for article content
.article-content {
  display: none; // Hide by default
  
}

.article.expanded .article-content {
  display: block; // Show when article is expanded
  h4{
    padding-left: 50px;
    color: #C4E7D4;

  }
  
  p {
    color: #ffffff; // Text color for the expanded article
  }
}
