// Base styling for the 'section-profs'
.section-profs {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #030027;
  padding: 20px 0;
  position: relative; 
  width: 100%; // or a specific value, e.g., 1200px if you want
  height: 600px; // this can be adjusted to your desired height
  
  button {
    background-color: transparent;
    .material-icons {
      font-size: 80px;
      color: #C4E7D4;
      background-color: transparent;
    }
    border: none;
    cursor: pointer;
    z-index: 10;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 50px;
    &:first-of-type {
      left: 0;
    }
    &:last-of-type {
      right: 0;
    }
  }
  
  .carroussel {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0 50px; 
    
    .images {
      flex-grow: 1;
      display: flex;
      align-items: center;
      
      .article {
        height: 100%;
        width: calc(25% - 40px);
        margin-right: 10px;
        padding: 10px;

        .article.expanded {
          width: 100%; 
          height: 100%;
          position: fixed; // Changed to fixed for overlaying on the whole section
          top: 0;
          left: 0;
          z-index: 1000; // Increased z-index to ensure it's above everything else
          background-color: rgba(0, 0, 0, 0.5); // Optional backdrop
          box-shadow: none;
          
          img {
            width: 100%; 
            height: auto; 
            max-height: 50%; 
            margin-top: 0;
          }

          .article-content {
            display: none;
  position: fixed; // Fixed position to cover the whole viewport
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0); // Invisible background
  z-index: 100; // Ensures it's above other content
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto; // Allows scrolling for overflow content
  height: 100%;
  align-items: center;
  justify-content: center;
          }
        }
        
        img{
          cursor: pointer;
        }

        animation-name: fadeIn;
        animation-duration: 1s;
        animation-delay: 0.3s;
        animation-fill-mode: forwards;

        @keyframes fadeIn {
          to {
            opacity: 1;
          }
        }

        h4 {
          font-size: 40px;
          margin-bottom: 10px;
          padding-left: 50px;
          color: #86e6b1;
        }

        p {
          font-size: 16px;
          color: #ffffff;
        }

        img {
          max-width: 100%;
          height: auto;
          margin-top: 20px;
          opacity: 0.5;
          transition: opacity 0.3s;
        }

        img.active {
          opacity: 1;
        }
      }
    }
  }

  .carroussel .images .article:not(.expanded) {
   
  }
}

.enseignants {
  h1 {
    margin-left: 40px;
    color: #86e6b1;
  }
}

// Styling for when an article is expanded
.article.expanded .article-content {
  display: flex; // Use flex to center content
}

