// Base styling for the 'section-profs'
.section-profs {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #030027;
  padding: 20px 0;
  position: relative; // Added to have a point of reference for the absolute positioning of the buttons
  
  button {
    background-color: transparent;
    .material-icons {
      font-size: 80px;
      color: #C4E7D4;
      background-color: transparent;
    }
    border: none;
    cursor: pointer;
    z-index: 10;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 50px;
    &:first-of-type {
      left: 0;
    }
    &:last-of-type {
      right: 0;
    }
  }
  
  .carroussel {
    display: flex;
    align-items: center;
    position: relative;
    width: 80%;
    overflow: hidden;
    margin: 0 50px; // Added margins to make room for the chevrons on the side
    
    
    .images {
      flex-grow: 1;
      display: flex;
      align-items: center;
      .article {
        flex: 0 0 auto;
        width: calc(100% - 40px);
        height: 800px; // Add a fixed height
        margin-right: 20px;
        padding: 20px;
        background-color: #030027;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        opacity: 0; // Initially hidden
  
        animation-name: fadeIn;
        animation-duration: 1s; // One second
        animation-delay: 0.3s; // 300ms delay
        animation-fill-mode: forwards;
      
        @keyframes fadeIn {
          to {
            opacity: 1;
          }
        }
       
        h4 {
          font-size: 40px;
          margin-bottom: 10px;
          padding-left: 50px;
          color: #86e6b1;
        }
        p {
          font-size: 16px;
          color: #ffffff;
        }
        img {
          max-width: 100%;
          height: auto;
          margin-top: 20px;
          opacity: 0.5;
          transition: opacity 0.3s;
        }
        img.active {
          opacity: 1;
        }
      }
    }
  }
}
.enseignants{
  h1{
    margin-left: 40px;
    color: #86e6b1;

  }
}
